assignment2/sub1_session1/
assignment2/sub2_session2/
assignment2/sub32_session1/
assignment2/sub33_session2/
assignment2/sub35_session1/
assignment2/sub37_session1/
assignment2/sub3_session1/
assignment2/sub40_session2/
assignment2/sub5_session1/
assignment2/sub6_session2/
assignment2/sub8_session1/
assignment2/sub9_session2/
assignment2/sub10_session1/
assignment2/sub1_session2/
assignment2/sub31_session1/
assignment2/sub32_session2/
assignment2/sub34_session1/
assignment2/sub36_session1/
assignment2/sub38_session1/
assignment2/sub3_session2/
assignment2/sub4_session1/
assignment2/sub5_session2/
assignment2/sub7_session1/
assignment2/sub8_session2/
assignment2/sub10_session2/
assignment2/sub2_session1/
assignment2/sub31_session2/
assignment2/sub33_session1/
assignment2/sub34_session2/
assignment2/sub36_session2/
assignment2/sub38_session2/
assignment2/sub40_session1/
assignment2/sub4_session2/
assignment2/sub6_session1/
assignment2/sub7_session2/
assignment2/sub9_session1/
